//chip-settings.rc

//define IDs
#define IDR_VERSIONINFO             0x0001 //1

#define IDS_INI_SEC_GENERAL         0x0001 //1
#define IDS_INI_OPT_LOGSOUND        0x0002 //2
#define IDS_INI_OPT_PREFERJAPTAG    0x0003 //3

//define property sheet sizes
#define PROP_SM_CXDLG   212
#define PROP_SM_CYDLG   188
#define PROP_MED_CXDLG  227
#define PROP_MED_CYDLG  215
#define PROP_LG_CXDLG   252
#define PROP_LG_CYDLG   218

//include individual chip settings pages
#include "res/nes-apu.rc"
#include "res/sega-psg.rc"

IDR_VERSIONINFO VERSIONINFO
FILEVERSION     1, 0, 1, 2
PRODUCTVERSION  2, 11, 5, 25
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0 //VS_FF_DEBUG | VS_FF_SPECIALBUILD | VS_FF_PRIVATEBUILD
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileVersion",        "1.0.1.2\0"
            VALUE "ProductVersion",     "2.11.5.25\0"
            VALUE "CompanyName",        "Kazusoft Co.\0"
            VALUE "FileDescription",    "Chip-Settings Library for VGMPlayGUI\0"
            VALUE "InternalName",       "Chip-Settings\0"
            VALUE "LegalCopyright",     "Copyright (c) 2018-2019 Kazusoft Co.\0"
            VALUE "LegalTrademarks",    "Kazusoft Co., and the Kazusoft logo are Trademarks of Lisa Murray. VGMPlay is a Trademark of Valley Bell.\0"
            VALUE "OriginalFilename",   "chip-settings.dll\0"
            VALUE "ProductName",        "VGMPlayGUI\0"
            //VALUE "PrivateBuild",       "\0"
            //VALUE "SpecialBuild",       "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x0000
    END
END

STRINGTABLE
LANGUAGE 9, 1
BEGIN
    IDS_INI_SEC_GENERAL         "General"
    IDS_INI_OPT_LOGSOUND        "LogSound"
    IDS_INI_OPT_PREFERJAPTAG    "PreferJapTag"
END

//EOF
