//menus.rc

#define IDR_MENU1               0x2710 //10000
#define IDM_FILE                0x2711 //10001
#define IDM_ROOT                0x2712 //10002
#define IDM_EXIT                0x2713 //10003
#define IDM_OPTIONS             0x2714 //10004
#define IDM_ABOUT               0x2715 //10005

#define IDR_MENUCONTEXT         0x4E20 //20000
#define IDM_LST_MAIN            0x4E21 //20001
#define IDM_LST_MAIN_REFRESH    0x4E22 //20002
#define IDM_LST_MAIN_BACK       0x4E23 //20003
#define IDM_LST_DRIVES          0x4E24 //20004
#define IDM_LST_DRIVES_REFRESH  0x4E25 //20005

#define TXT_FILE                "&File"
#define TXT_ROOT                "&Go To Drive Root"
#define TXT_EXIT                "E&xit"
#define TXT_OPTIONS             "&Options"
#define TXT_ABOUT               "&About"

#define TXT_LST_MAIN            "LST_MAIN"
#define TXT_LST_MAIN_REFRESH    "&Refresh Listing"
#define TXT_LST_MAIN_BACK       "&Go up a directory"
#define TXT_LST_DRIVES          "LST_DRIVES"
#define TXT_LST_DRIVES_REFRESH  "&Refresh Listing"


LANGUAGE 9, 1

IDR_MENU1 MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP TXT_FILE, IDM_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM TXT_ROOT, IDM_ROOT, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM TXT_EXIT, IDM_EXIT, MFT_STRING, MFS_ENABLED
    END
    MENUITEM TXT_OPTIONS, IDM_OPTIONS, MFT_STRING, MFS_ENABLED
    MENUITEM TXT_ABOUT, IDM_ABOUT, MFT_STRING, MFS_ENABLED
END

IDR_MENUCONTEXT MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP TXT_LST_MAIN, IDM_LST_MAIN, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM TXT_LST_MAIN_REFRESH, IDM_LST_MAIN_REFRESH, MFT_STRING, MFS_ENABLED
        MENUITEM TXT_LST_MAIN_BACK, IDM_LST_MAIN_BACK, MFT_STRING, MFS_ENABLED
    END
    POPUP TXT_LST_DRIVES, IDM_LST_DRIVES, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM TXT_LST_DRIVES_REFRESH, IDM_LST_DRIVES_REFRESH, MFT_STRING, MFS_ENABLED
    END
END

//EOF