//versioninfo.rc

#define IDR_VERSIONINFO 1

IDR_VERSIONINFO VERSIONINFO
FILEVERSION     1, 13, 13, 4
PRODUCTVERSION  2, 10, 2, 9
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_DEBUG | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileVersion", "1.13.13.4\0"
            VALUE "ProductVersion", "2.10.2.9\0"
            VALUE "CompanyName", "Kazusoft Co.\0"
            VALUE "FileDescription", "Windows GUI for VGMPlay\0"
            VALUE "InternalName", "VGMPlayGUI\0"
            VALUE "LegalCopyright", "Copyright (c) 2018 Kazusoft Co.\0"
            VALUE "LegalTrademarks", "Kazusoft Co., and the Kazusoft logo are Trademarks of Lisa Murray. VGMPlay is a Trademark of Valley Bell.\0"
            VALUE "OriginalFilename", "VGMPlayGUI.exe\0"
            VALUE "ProductName", "VGMPlayGUI\0"
            VALUE "PrivateBuild", "Built by Lisa for testing the Core Select Property Sheet.\0"
            VALUE "SpecialBuild", "Built for testing the Core Select Property Sheet.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x0000
    END
END

//EOF