# Auto detect text files and perform CRLF normalization
*.bas text=auto eol=crlf
*.bi  text=auto eol=crlf
*.bat text=auto eol=crlf
*.txt text=auto eol=crlf
*.TXT text=auto eol=crlf
*.rc  text=auto eol=crlf

# Auto detect binary files
*.ico -text -diff

# EOF
