# Auto detect text files and perform LF normalization
*.bas text=auto eol=lf
*.bi  text=auto eol=lf
*.fbp text=auto eol=lf
*.bat text=auto eol=crlf
*.txt text=auto eol=crlf
*.TXT text=auto eol=crlf
*.rc  text=auto eol=crlf
# Auto detect binary files
*.a   -text -diff
*.dll -text -diff
*.exe -text -diff
*.res -text -diff
*.ico -text -diff
*.vgm -text -diff
