//resource.rc

//version information
#define IDR_VERSIONINFO             0x0001 //1

//dialog ID definitions
#define IDD_MAIN                    0x03E8 //1000

#define IDD_PATHS                   0x044C //1100
#define IDC_STC_VGMPLAYPATH         0x044D //1101
#define IDC_EDT_VGMPLAYPATH         0x044E //1102
#define IDC_BTN_VGMPLAYPATH         0x044F //1103
#define IDC_STC_DEFAULTPATH         0x0450 //1104
#define IDC_EDT_DEFAULTPATH         0x0451 //1105
#define IDC_BTN_DEFAULTPATH         0x0452 //1106

#define IDD_FILEFILTER              0x04B0 //1200
#define IDC_GRP_ATTRIB              0x04B1 //1201
#define IDC_CHK_ARCHIVE             0x04B2 //1202
#define IDC_CHK_HIDDEN              0x04B3 //1203
#define IDC_CHK_SYSTEM              0x04B4 //1204
#define IDC_CHK_READONLY            0x04B5 //1205
#define IDC_CHK_EXCLUSIVE           0x04B6 //1206

#define IDD_VGMPLAYSETTINGS         0x0514 //1300
#define IDC_CHK_LOGSOUND            0x0515 //1301
#define IDC_CHK_PREFERJAPTAG        0x0516 //1302
#define IDC_BTN_CHIPSETTINGS        0x0517 //1303

//menus
#define IDR_MENUMAIN                0x2710 //10000
#define IDM_FILE                    0x2711 //10001
#define IDM_EXIT                    0x2712 //10002
#define IDM_LIST					0x2713 //10003
#define IDM_UP						0x2714 //10004
#define IDM_ROOT					0x2715 //10005
#define IDM_BACK                    0x2716 //10006
#define IDM_REFRESH					0x2717 //10007
#define IDM_OPTIONS                 0x2718 //10008
#define IDM_ABOUT                   0x2719 //10009

#define IDR_MENUCONTEXT             0x4E20 //20000
#define IDM_LST_DRIVES              0x4E21 //20001
#define IDM_LST_DRIVES_REFRESH      0x4E22 //20002

//strings
#define IDS_APPNAME                 0x0001 //1
#define IDS_OPTIONS                 0x0002 //2

//message captions and text
#define IDS_MSGTXT_ABOUT            0x0011 //17
#define IDS_MSGCAP_ABOUT            0x0012 //18
#define IDS_MSGTXT_NYI              0x0013 //19
#define IDS_MSGCAP_NYI              0x0014 //20
#define IDS_MSGTXT_VGMPMISS         0x0015 //21
#define IDS_MSGCAP_VGMPMISS         0x0016 //22
#define IDS_MSGTXT_CHANGES          0x0017 //23
#define IDS_MSGCAP_CHANGES          0x0018 //24
#define IDS_MSGTXT_FILTHELP         0x0019 //25
#define IDS_MSGCAP_FILTHELP         0x001A //26

//registry key names
#define IDS_REG_VGMPLAYPATH         0x0021 //33
#define IDS_REG_DEFAULTPATH         0x0022 //34
#define IDS_REG_FILEFILTER          0x0023 //35

//VGMPlay path file filter
#define IDS_FILT_VGMPLAY            0x0031 //49

//tooltip text
#define IDS_TIP_DRIVELIST           0x0041 //65
#define IDS_TIP_UPBTN               0x0042 //66
#define IDS_TIP_GOBTN               0x0043 //67
#define IDS_TIP_REFRESHBTN          0x0044 //68
#define IDS_TIP_PLAYBTN             0x0045 //69
#define IDS_TIP_VGMPLAYPATH         0x0046 //70
#define IDS_TIP_DEFAULTPATH         0x0047 //71
#define IDS_TIP_ARCHIVE             0x0048 //72
#define IDS_TIP_HIDDEN              0x0049 //73
#define IDS_TIP_SYSTEM              0x004A //74
#define IDS_TIP_READONLY            0x004B //75
#define IDS_TIP_EXCLUSIVE           0x004C //76
#define IDS_TIP_PREFERJAPTAG        0x004D //77

//ID's for icons
#define IDI_VGMPLAYGUI              0x0064 //100
#define IDI_KAZUSOFT                0x0065 //101
#define IDI_WRENCH                  0x0066 //102
#define IDI_PLAY                    0x0067 //103

//define property sheet sizes because GoRC doesn't seem to include these definitions by default.
#define PROP_SM_CXDLG               0x00D4 //212
#define PROP_SM_CYDLG               0x00BC //188
#define PROP_MED_CXDLG              0x00E3 //227
#define PROP_MED_CYDLG              0x00D7 //215
#define PROP_LG_CXDLG               0x00FC //252
#define PROP_LG_CYDLG               0x00DA //218

//version information
IDR_VERSIONINFO VERSIONINFO
FILEVERSION     1, 4, 1, 18
PRODUCTVERSION  2, 11, 5, 22
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_DEBUG | VS_FF_SPECIALBUILD | VS_FF_PRIVATEBUILD
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileVersion",        "1.4.1.18\0"
            VALUE "ProductVersion",     "2.11.5.22\0"
            VALUE "CompanyName",        "Kazusoft Co.\0"
            VALUE "FileDescription",    "Windows GUI for VGMPlay\0"
            VALUE "InternalName",       "VGMPlayGUI\0"
            VALUE "LegalCopyright",     "Copyright (c) 2018-2019 Kazusoft Co.\0"
            VALUE "LegalTrademarks",    "Kazusoft Co., and the Kazusoft logo are Trademarks of Lisa Murray. VGMPlay is a Trademark of Valley Bell.\0"
            VALUE "OriginalFilename",   "VGMPlayGUI.exe\0"
            VALUE "ProductName",        "VGMPlayGUI\0"
            VALUE "PrivateBuild",       "Built by Lisa Murray for fixing the file filter options page.\0"
            VALUE "SpecialBuild",       "Test build\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x0000
    END
END

STRINGTABLE
LANGUAGE 9, 1
BEGIN
    IDS_APPNAME                 "VGMPlayGUI"
    IDS_OPTIONS                 "Options Menu"
    IDS_MSGTXT_ABOUT            "VGMPlayGUI - GUI for Valley Bell's VGMPlay.\nCopyright (c) 2018 Kazusoft Co.\nKazusoft and the Kazusoft logo are trademarks of Lisa Murray."
    IDS_MSGCAP_ABOUT            "About VGMPlayGUI"
    IDS_MSGTXT_NYI              "This feature is not implemented yet.\nSorry."
    IDS_MSGCAP_NYI              "NYI"
    IDS_MSGTXT_VGMPMISS         "Could not find ""VGMPlay.exe"".\nYou must specify its location to continue.\nWould you like to specify its location now?."
    IDS_MSGCAP_VGMPMISS         "VGMPlay Not Found"
    IDS_MSGTXT_CHANGES          "If you cancel now, you will lose any unsaved changes.\nWould you like to save them now?"
    IDS_MSGCAP_CHANGES          "Cancel?"
    IDS_MSGTXT_FILTHELP         "You can change the filter used by the file browser by selecting different options from here."
    IDS_MSGCAP_FILTHELP         "File Filter Help"
    IDS_REG_VGMPLAYPATH         "VGMPlay Path"
    IDS_REG_DEFAULTPATH         "Default Path"
    IDS_REG_FILEFILTER          "File Filter"
    IDS_FILT_VGMPLAY            "VGMPlay (VGMPlay.exe)\0VGMPlay.EXE\0All Files (*.*)\0*.*\0"
    IDS_TIP_DRIVELIST           "List of available drives"
    IDS_TIP_UPBTN               "Go up one directory level"
    IDS_TIP_GOBTN               "Go to entered directory"
    IDS_TIP_REFRESHBTN          "Refresh lists"
    IDS_TIP_PLAYBTN             "Play"
    IDS_TIP_VGMPLAYPATH         "Path to VGMPlay's executable"
    IDS_TIP_DEFAULTPATH         "Initial path"
    IDS_TIP_ARCHIVE             "Include files with the archive attribute set"
    IDS_TIP_HIDDEN              "Include hidden files"
    IDS_TIP_SYSTEM              "Include files with the system attribute set"
    IDS_TIP_READONLY            "Include read-only files"
    IDS_TIP_EXCLUSIVE           "Show only files with the attributes selected above"
    IDS_TIP_PREFERJAPTAG        "Prefer Japanese GD3 tags\nThis will not work unless you have a unicode-capable console\nUse at your own risk"
END

//icons
IDI_VGMPLAYGUI  ICON    "Res/VGMPlayGUI.ico"
IDI_KAZUSOFT    ICON    "Res/Kazusoft.ico"
IDI_WRENCH      ICON    "Res/wrench.ico"
IDI_PLAY        ICON    "Res/play.ico"

//dialogs
IDD_MAIN DIALOGEX 10, 10, 300, 300
CAPTION "VGMPlayGUI"
FONT 10, "Tahoma", 400, 0, 0
CLASS "MAINCLASS"
MENU IDR_MENUMAIN
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPED | WS_OVERLAPPEDWINDOW | WS_SIZEBOX | WS_SYSMENU | WS_VISIBLE //0x10CF0000
EXSTYLE WS_EX_APPWINDOW | WS_EX_LEFT | WS_EX_LTRREADING | WS_EX_RIGHTSCROLLBAR //0x00040000
BEGIN
END

IDD_PATHS DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "Paths"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN
    CONTROL "Path to VGMPlay.exe", IDC_STC_VGMPLAYPATH, "Static", 0x50000200, 3, 3, 171, 12
    EDITTEXT IDC_EDT_VGMPLAYPATH, 3, 15, 123, 12, 0x50010080, 0x00000200
    CONTROL "Browse", IDC_BTN_VGMPLAYPATH, "Button", 0x50010000, 129, 15, 45, 12
    CONTROL "Default Path", IDC_STC_DEFAULTPATH, "Static", 0x50000200, 3, 30, 171, 12
    EDITTEXT IDC_EDT_DEFAULTPATH, 3, 42, 123, 12, 0x50010080, 0x00000200
    CONTROL "Use Current", IDC_BTN_DEFAULTPATH, "Button", 0x50010000, 129, 42, 45, 12
END

IDD_FILEFILTER DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "File Filter"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN
    GROUPBOX "File Attributes", IDC_GRP_ATTRIB, 3, 3, 130, 75
    AUTOCHECKBOX "Archive", IDC_CHK_ARCHIVE, 6, 15, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Hidden", IDC_CHK_HIDDEN, 6, 27, 120, 12
    AUTOCHECKBOX "System", IDC_CHK_SYSTEM, 6, 39, 120, 12
    AUTOCHECKBOX "Read Only", IDC_CHK_READONLY, 6, 51, 120, 12
    AUTOCHECKBOX "Exclusive", IDC_CHK_EXCLUSIVE, 6, 63, 120, 12
END

IDD_VGMPLAYSETTINGS DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "VGMPlay Settings"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN
    AUTO3STATE "Render to Wave File", IDC_CHK_LOGSOUND, 3, 3, 120, 12, BS_AUTO3STATE | WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Prefer Japanese GD3 Tags", IDC_CHK_PREFERJAPTAG, 3, 15, 120, 12, WS_TABSTOP | WS_GROUP
    CONTROL "Chip Settings", IDC_BTN_CHIPSETTINGS, "Button", WS_TABSTOP | WS_GROUP | BS_DEFPUSHBUTTON | BS_CENTER | BS_LEFT | BS_VCENTER, 3, 30, 90, 12
END

//menus
IDR_MENUMAIN MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "&File", IDM_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "E&xit", IDM_EXIT, MFT_STRING, MFS_ENABLED
    END
	POPUP "&List", IDM_LIST, MFT_STRING, MFS_ENABLED
	BEGIN
		MENUITEM "Go &Up One Directory Level", IDM_UP, MFT_STRING, MFS_ENABLED
		MENUITEM "Go to Drive &Root", IDM_ROOT, MFT_STRING, MFS_ENABLED
		MENUITEM "Go to &Previous Directory", IDM_BACK, MFT_STRING, MFS_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "Re&fresh Lists", IDM_REFRESH, MFT_STRING, MFS_ENABLED
	END
    MENUITEM "&Options", IDM_OPTIONS, MFT_STRING, MFS_ENABLED
    MENUITEM "&About", IDM_ABOUT, MFT_STRING, MFS_ENABLED
END

IDR_MENUCONTEXT MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "IDC_LST_DRIVES", IDM_LST_DRIVES, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Refresh Lists", IDM_LST_DRIVES_REFRESH, MFT_STRING, MFS_ENABLED
    END
END

//EOF
