//resource.rc
//resource definitions for VGMPlayGUI
//Copyright (c) 2019 Kazusoft Co.

//include other files
#include "Res\config.rc"
#include "Res\menus.rc"
#include "Res\playlist-editor.rc"

//ID definintions
//version information
#define IDR_VERSIONINFO             0x0001 //1

//main dialog
#define IDD_MAIN                    0x03E8 //1000

//strings
#define IDS_APPNAME                 0x0001 //1
#define IDS_OPTIONS                 0x0002 //2
#define IDS_ABT_DESCRIPTION         0x0003 //3
#define IDS_ABT_LEGAL               0x0004 //4

//message captions
#define IDS_MSGCAP_ABOUT            0x0100 //256
#define IDS_MSGCAP_NYI              0x0101 //257
#define IDS_MSGCAP_VGMPMISS         0x0102 //258
#define IDS_MSGCAP_CHANGES          0x0103 //259
#define IDS_MSGCAP_FILTHELP         0x0104 //260
#define IDS_MSGCAP_DELCONFIRM       0x0105 //270
#define IDS_MSGCAP_VGMPLAYKEYS      0x0106 //271

//message text
#define IDS_MSGTXT_NYI              0x0200 //512
#define IDS_MSGTXT_VGMPMISS         0x0201 //513
#define IDS_MSGTXT_CHANGES          0x0202 //514
#define IDS_MSGTXT_FILTHELP         0x0203 //515
#define IDS_MSGTXT_DELCONFIRM       0x0204 //516
#define IDS_MSGTXT_VGMPLAYKEYS      0x0205 //517

//registry key names
#define IDS_REG_VGMPLAYPATH         0x0300 //768
#define IDS_REG_DEFAULTPATH         0x0301 //769
#define IDS_REG_FILEFILTER          0x0302 //770

//tooltip text
#define IDS_TIP_DRIVELIST           0x0400 //1024
#define IDS_TIP_UPBTN               0x0401 //1025
#define IDS_TIP_GOBTN               0x0402 //1026
#define IDS_TIP_REFRESHBTN          0x0403 //1027
#define IDS_TIP_PLAYBTN             0x0404 //1028
#define IDS_TIP_VGMPLAYPATH         0x0405 //1029
#define IDS_TIP_DEFAULTPATH         0x0406 //1030
#define IDS_TIP_ARCHIVE             0x0408 //1032
#define IDS_TIP_HIDDEN              0x0409 //1033
#define IDS_TIP_SYSTEM              0x040A //1034
#define IDS_TIP_READONLY            0x040B //1035
#define IDS_TIP_EXCLUSIVE           0x040C //1036
#define IDS_TIP_DELMOD_RECYCLE      0x040D //1037
#define IDS_TIP_DELMOD_REMOVE       0x040E //1038

#define IDS_FILT_VGMPLAY            0x0500 //1280
#define IDS_FILT_M3U                0x0501 //1281
#define IDS_FILT_ADDTOLIST          0x0502 //1282

//IDs for icons
#define IDI_VGMPLAYGUI              0x0064 //100
#define IDI_KAZUSOFT                0x0065 //101
#define IDI_WRENCH                  0x0066 //102
#define IDI_PLAY                    0x0067 //103
#define IDI_GD3TAG                  0x0068 //104
#define IDI_MAKEM3U                 0x0069 //105

//version information
IDR_VERSIONINFO VERSIONINFO
FILEVERSION     1, 12, 2, 3
PRODUCTVERSION  2, 13, 2, 2
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0 //VS_FF_SPECIALBUILD | VS_FF_PRIVATEBUILD | VS_FF_DEBUG
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileVersion",        "1.12.2.3\0"
            VALUE "ProductVersion",     "2.13.2.2\0"
            VALUE "CompanyName",        "Kazusoft Co.\0"
            VALUE "FileDescription",    "Windows GUI for VGMPlay\0"
            VALUE "InternalName",       "VGMPlayGUI\0"
            VALUE "LegalCopyright",     "Copyright (c) 2018-2019 Kazusoft Co.\0"
            VALUE "LegalTrademarks",    "Kazusoft Co., and the Kazusoft logo are Trademarks of Lisa Murray. VGMPlay is a Trademark of Valley Bell.\0"
            VALUE "OriginalFilename",   "VGMPlayGUI.exe\0"
            VALUE "ProductName",        "VGMPlayGUI\0"
            //VALUE "PrivateBuild",       "\0"
            //VALUE "SpecialBuild",       "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x0000
    END
END

STRINGTABLE
LANGUAGE 9, 1
BEGIN
    IDS_APPNAME                 "VGMPlayGUI"
    IDS_OPTIONS                 "VGMPlayGUI Options"
    IDS_ABT_DESCRIPTION         "VGMPlayGUI - Windows GUI for Valley Bell's VGMPlay.\n"
    IDS_ABT_LEGAL               "Copyright (c) 2018-2019 Kazusoft Co.\nKazusoft Co., and the Kazusoft logo are trademarks of Lisa Murray.\nVGMPlay is a Trademark of Valley Bell.\nThis program is licensed under the GNU GPL 3.0 license.\n"
    IDS_MSGCAP_ABOUT            "About VGMPlayGUI"
    IDS_MSGCAP_NYI              "NYI"
    IDS_MSGCAP_VGMPMISS         "VGMPlay Not Found"
    IDS_MSGCAP_CHANGES          "Cancel?"
    IDS_MSGCAP_FILTHELP         "File Filter Help"
    IDS_MSGCAP_DELCONFIRM       "Delete?"
    IDS_MSGCAP_VGMPLAYKEYS      "VGMPlay Control Keys"
    IDS_MSGTXT_NYI              "This feature is not implemented yet.\nSorry."
    IDS_MSGTXT_VGMPMISS         "Could not find ""VGMPlay.exe"".\nYou must specify its location to continue.\nWould you like to specify its location now?."
    IDS_MSGTXT_CHANGES          "If you cancel now, you will lose any unsaved changes.\nWould you like to save them now?"
    IDS_MSGTXT_FILTHELP         "You can change the filter used by the file browser by selecting different options from here."
    IDS_MSGTXT_DELCONFIRM       "Are you sure you want to delete the selected item?"
    IDS_MSGTXT_VGMPLAYKEYS      "Control keys for VGMPlay\n\nKey:\t\tCommand:\nSpace\t\tPause\nLeft/Right Arrow\t\tSeek five seconds.\nCtrl+Left/Right Arrow\tSeek one minute.\nEsc./Q\t\tQuit\nF\t\tFade Out\nR\t\tRestart Track.\nPage Up/B\tPrevious Track.\nPage Down/N\tNext Track."
    IDS_REG_VGMPLAYPATH         "VGMPlay Path"
    IDS_REG_DEFAULTPATH         "Default Path"
    IDS_REG_FILEFILTER          "File Filter"
    IDS_TIP_DRIVELIST           "List of available drives."
    IDS_TIP_UPBTN               "Go up one directory level."
    IDS_TIP_GOBTN               "Go to the entered directory."
    IDS_TIP_REFRESHBTN          "Refresh file lists."
    IDS_TIP_PLAYBTN             "Play selected file."
    IDS_TIP_VGMPLAYPATH         "Path to VGMPlay's executable."
    IDS_TIP_DEFAULTPATH         "Initial path to use on startup."
    IDS_TIP_ARCHIVE             "Include files with the archive attribute set."
    IDS_TIP_HIDDEN              "Include hidden files."
    IDS_TIP_SYSTEM              "Include files with the system attribute set."
    IDS_TIP_READONLY            "Include read-only files."
    IDS_TIP_EXCLUSIVE           "Show only files with the selected attributes."
    IDS_TIP_DELMOD_RECYCLE      "When deleting a file, the file will be sent to the recycle bin."
    IDS_TIP_DELMOD_REMOVE       "Permenantly deletes a file without sending it to the recycle bin."
    IDS_FILT_VGMPLAY            "VGMPlay (VGMPlay.exe)\0VGMPlay.EXE\0All Files (*.*)\0*.*\0\0"
    IDS_FILT_M3U                "M3U Playlists (*.m3u)\0*.M3U\0All Files (*.*)\0*.*\0\0"
    IDS_FILT_ADDTOLIST          "Accepted File Types\0*.VGM;*.VGZ;*.DRO;*.CMF;\0VGM Files (*.vgm, *.vgz)\0*.VGM;*.VGZ\0DOSBox Raw OPL Logs (*.dro)\0*.DRO\0Creative Music Format Modules (*.cmf)\0*.CMF\0All Files (*.*)\0*.*\0\0"
END

//icons
IDI_VGMPLAYGUI  ICON    "Res/VGMPlayGUI.ico"
IDI_KAZUSOFT    ICON    "Res/Kazusoft.ico"
IDI_WRENCH      ICON    "Res/wrench.ico"
IDI_PLAY        ICON    "Res/play.ico"
IDI_GD3TAG      ICON    "Res/GD3Tag.ico"
IDI_MAKEM3U     ICON    "Res/MakeM3U.ico"

//dialogs
IDD_MAIN DIALOGEX 10, 10, 300, 300
CAPTION "VGMPlayGUI"
FONT 10, "Tahoma", 400, 0, 0
CLASS "MAINCLASS"
MENU IDR_MENUMAIN
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_OVERLAPPED | WS_OVERLAPPEDWINDOW | WS_SIZEBOX | WS_SYSMENU | WS_VISIBLE //0x10CF0000
EXSTYLE WS_EX_APPWINDOW | WS_EX_LEFT | WS_EX_LTRREADING | WS_EX_RIGHTSCROLLBAR //0x00040000
BEGIN
END

//EOF