//contextmenus.rc
//Copyright (c) 2019 Kazusoft Co.

#define IDR_MENUCONTEXT             0x4E20 //20000
#define IDM_LST_DRIVES              0x4E21 //20001
#define IDM_LST_DRIVES_REFRESH      0x4E22 //20002
#define IDM_LST_MAIN                0x4E23 //20003
#define IDM_PROPERTIES              0x4E24 //20004
#define IDM_ADDTOLIST               0x4E25 //20005
#define IDM_DELETE                  0x4E26 //20006

IDR_MENUCONTEXT MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "IDC_LST_DRIVES", IDM_LST_DRIVES, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Refresh Lists", IDM_LST_DRIVES_REFRESH, MFT_STRING, MFS_ENABLED
    END
    POPUP "IDC_LST_MAIN", IDM_LST_MAIN, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Properties", IDM_PROPERTIES, MFT_STRING, MFS_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "&Add Selected Item to Playlist", IDM_ADDTOLIST, MFT_STRING, MFS_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "&Delete", IDM_DELETE, MFT_STRING, MFS_ENABLED
    END
END

//EOF