//icons.rc

#define IDI_VGMPLAYGUI  0x0064
#define IDI_KAZUSOFT    0x0065
#define IDI_WRENCH      0x0066
#define IDI_PLAY        0x0067

IDI_VGMPLAYGUI ICON "Res/VGMPlayGUI.ico"
IDI_KAZUSOFT ICON "Res/Kazusoft.ico"
IDI_WRENCH ICON "Res/wrench.ico"
IDI_PLAY ICON "Res/play.ico"

//EOF