//menus.rc
//Copyright (c) 2019 Kazusoft Co.

#define IDR_MENUMAIN                0x2710 //10000
#define IDM_FILE                    0x2711 //10001
#define IDM_OPTIONS                 0x2718 //10008
#define IDM_EXIT                    0x2712 //10002
#define IDM_LIST					0x2713 //10003
#define IDM_UP						0x2714 //10004
#define IDM_ROOT					0x2715 //10005
#define IDM_BACK                    0x2716 //10006
#define IDM_REFRESH					0x2717 //10007
#define IDM_PLEDIT                  0x271A //10010
#define IDM_ABOUT                   0x2719 //10009

#define IDR_MENUCONTEXT             0x4E20 //20000
#define IDM_LST_DRIVES              0x4E21 //20001
#define IDM_LST_DRIVES_REFRESH      0x4E22 //20002
#define IDM_LST_MAIN                0x4E23 //20003
#define IDM_PROPERTIES              0x4E24 //20004
#define IDM_ADDTOLIST               0x4E25 //20005
#define IDM_DELETE                  0x4E26 //20006

IDR_MENUMAIN MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "&File", IDM_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Options", IDM_OPTIONS, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT, MFT_STRING, MFS_ENABLED
    END
	POPUP "&List", IDM_LIST, MFT_STRING, MFS_ENABLED
	BEGIN
		MENUITEM "Go &Up One Directory Level", IDM_UP, MFT_STRING, MFS_ENABLED
		MENUITEM "Go to Drive &Root", IDM_ROOT, MFT_STRING, MFS_ENABLED
		MENUITEM "Go to &Previous Directory", IDM_BACK, MFT_STRING, MFS_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "Re&fresh Lists", IDM_REFRESH, MFT_STRING, MFS_ENABLED
		MENUITEM SEPARATOR
		MENUITEM "Playlist &Editor", IDM_PLEDIT, MFT_STRING, MFS_ENABLED
	END
    MENUITEM "&About", IDM_ABOUT, MFT_STRING, MFS_ENABLED
END

IDR_MENUCONTEXT MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "IDC_LST_DRIVES", IDM_LST_DRIVES, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Refresh Lists", IDM_LST_DRIVES_REFRESH, MFT_STRING, MFS_ENABLED
    END
    POPUP "IDC_LST_MAIN", IDM_LST_MAIN, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Properties", IDM_PROPERTIES, MFT_STRING, MFS_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "&Add Selected Item to Playlist", IDM_ADDTOLIST, MFT_STRING, MFS_DISABLED
        MENUITEM SEPARATOR
        MENUITEM "&Delete", IDM_DELETE, MFT_STRING, MFS_ENABLED
    END
END

//EOF