//playlist-editor.rc
//Copyright (c) 2019 Kazusoft Co.

#define IDD_PLAYLIST            0x0578 //1400
#define IDC_LST_PLAYLIST        0x0579 //1401

#define IDD_IMPORTDIR           0x05DC //1500
#define IDC_STC_IMP_PATH        0x05DD //1501
#define IDC_EDT_IMP_PATH        0x05DE //1502
#define IDC_STC_IMP_BAR1        0x05DF //1503
#define IDC_STC_IMP_FILT        0x05E0 //1504
#define IDC_EDT_IMP_FILT        0x05E1 //1505
#define IDC_BTN_IMP_OK          0x05E2 //1506
#define IDC_BTN_IMP_CANCEL      0x05E3 //1507
#define IDC_CHK_IMP_CLEAR       0x05E4 //1508
#define IDC_STC_IMP_BAR2        0x05E5 //1509

#define IDR_MENUPLAYLIST        0x7530 //30000
#define IDM_PL_FILE             0x7531 //30001
#define IDM_PL_NEW              0x7532 //30002
#define IDM_PL_OPEN             0x7533 //30003
#define IDM_PL_SAVE             0x7534 //30004
#define IDM_PL_SAVEAS           0x7535 //30005
#define IDM_PL_EXIT             0x7536 //30006
#define IDM_PL_EDIT             0x7537 //30007
#define IDM_PL_PRUNE            0x7538 //30008
#define IDM_PL_ADD              0x7539 //30009
#define IDM_PL_INSERT           0x753A //30010
#define IDM_PL_REMOVE           0x753B //30011
#define IDM_PL_IMPORT           0x753C //30012

IDD_PLAYLIST DIALOGEX 10, 10, 200, 200
CAPTION "Playlist Editor"
FONT 8, "MS Sans Serif", 0, 0, 0
MENU IDR_MENUPLAYLIST
LANGUAGE 9, 1
STYLE 0x10C80000
EXSTYLE 0x00010000
BEGIN
    CONTROL "", IDC_LST_PLAYLIST, "ListBox", 0x50310141, 3, 3, 192, 192, 0x00000200
END

IDD_IMPORTDIR DIALOGEX 10, 10, 200, 200
CAPTION "Import Folder"
FONT 8, "MS Sans Serif", 0, 0, 0
LANGUAGE 9, 1
STYLE 0x10C80000
EXSTYLE 0x00010000
BEGIN
    LTEXT "Folder to Import", IDC_STC_IMP_PATH, 3, 3, 194, 10, 0x50000200
    EDITTEXT IDC_EDT_IMP_PATH, 3, 16, 194, 12, 0x50010080, 0x00000200
    
    CONTROL "", IDC_STC_IMP_BAR1, "Static", SS_ETCHEDHORZ, 3, 31, 194, 10
    
    LTEXT "File Filter to Use", IDC_STC_IMP_FILT, 3, 34, 194, 10, 0x50000200
    EDITTEXT IDC_EDT_IMP_FILT, 3, 45, 194, 12, 0x50010080, 0x00000200
    
    CONTROL "", IDC_STC_IMP_BAR2, "Static", SS_ETCHEDHORZ, 3, 60, 194, 10
    
    AUTOCHECKBOX "&Clear Existing List", IDC_CHK_IMP_CLEAR, 3, 63, 194, 12
    
    DEFPUSHBUTTON "OK", IDC_BTN_IMP_OK, 103, 185, 44, 12
    PUSHBUTTON "Cancel", IDC_BTN_IMP_CANCEL, 150, 185, 44, 12
END

IDR_MENUPLAYLIST MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "&File", IDM_PL_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&New", IDM_PL_NEW, MFT_STRING, MFS_ENABLED
        MENUITEM "&Open", IDM_PL_OPEN, MFT_STRING, MFS_ENABLED
        MENUITEM "&Save", IDM_PL_SAVE, MFT_STRING, MFS_ENABLED
        MENUITEM "Save &As", IDM_PL_SAVEAS, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "E&xit Playlist Editor", IDM_PL_EXIT, MFT_STRING, MFS_ENABLED
    END
    POPUP "&Edit", IDM_PL_EDIT, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&Add File", IDM_PL_ADD, MFT_STRING, MFS_ENABLED
        MENUITEM "&Insert File", IDM_PL_INSERT, MFT_STRING, MFS_ENABLED
        MENUITEM "&Remove File", IDM_PL_REMOVE, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "I&mport Directory", IDM_PL_IMPORT, MFT_STRING, MFS_ENABLED
    END
END

//EOF
