//playlist-editor.rc
//Copyright (c) 2019 Kazusoft Co.

#define IDD_PLAYLIST            0x0578 //1400
#define IDC_LST_PLAYLIST        0x0579 //1401

#define IDR_MENUPLAYLIST        0x7530 //30000
#define IDM_PL_FILE             0x7531 //30001
#define IDM_PL_NEW              0x7532 //30002
#define IDM_PL_OPEN             0x7533 //30003
#define IDM_PL_SAVE             0x7534 //30004
#define IDM_PL_SAVEAS           0x7535 //30005
#define IDM_PL_EXIT             0x7536 //30006
#define IDM_PL_LIST             0x7537 //30007
#define IDM_PL_PRUNE            0x7538 //30008
#define IDM_PL_PRUNEINVALID     0x7539 //30009
#define IDM_PL_PRUNEDUPLICATE   0x753A //30010
#define IDM_PL_ADD              0x753B //30011
#define IDM_PL_INSERT           0x753C //30012
#define IDM_PL_REMOVE           0x753D //30013

IDD_PLAYLIST DIALOGEX 10, 10, 200, 200
CAPTION "Playlist Editor"
FONT 8, "MS Sans Serif", 0, 0, 0
MENU IDR_MENUPLAYLIST
LANGUAGE 9, 1
STYLE 0x10C80000
EXSTYLE 0x00010000
BEGIN
    CONTROL "", IDC_LST_PLAYLIST, "ListBox", 0x50310141, 3, 3, 192, 192, 0x00000200
END

IDR_MENUPLAYLIST MENUEX
LANGUAGE 9, 1
BEGIN
    POPUP "&File", IDM_PL_FILE, MFT_STRING, MFS_ENABLED
    BEGIN
        MENUITEM "&New", IDM_PL_NEW, MFT_STRING, MFS_ENABLED
        MENUITEM "&Open", IDM_PL_OPEN, MFT_STRING, MFS_ENABLED
        MENUITEM "&Save", IDM_PL_SAVE, MFT_STRING, MFS_ENABLED
        MENUITEM "Save &As", IDM_PL_SAVEAS, MFT_STRING, MFS_ENABLED
        MENUITEM SEPARATOR
        MENUITEM "E&xit Playlist Editor", IDM_PL_EXIT, MFT_STRING, MFS_ENABLED
    END
    POPUP "&List", IDM_PL_LIST, MFT_STRING, MFS_ENABLED
    BEGIN
        POPUP "&Prune", IDM_PL_PRUNE, MFT_STRING, MFS_ENABLED
        BEGIN
            MENUITEM "Invalid File Types", IDM_PL_PRUNEINVALID, MFT_STRING, MFS_ENABLED
            MENUITEM "Duplicate Entries", IDM_PL_PRUNEDUPLICATE, MFT_STRING, MFS_ENABLED
        END
        MENUITEM "&Add File", IDM_PL_ADD, MFT_STRING, MFS_ENABLED
        MENUITEM "&Insert File", IDM_PL_INSERT, MFT_STRING, MFS_ENABLED
        MENUITEM "&Remove File", IDM_PL_REMOVE, MFT_STRING, MFS_ENABLED
    END
END

//EOF
