//chip-settings.rc

//define ID's
#define IDR_VERSIONINFO 0x0001

#define IDI_CHIP        0x0064
#define IDI_NESAPU      0x0065
#define IDI_SEGAPSG     0x0066

//define property sheet sizes
#define PROP_SM_CXDLG   212
#define PROP_SM_CYDLG   188
#define PROP_MED_CXDLG  227
#define PROP_MED_CYDLG  215
#define PROP_LG_CXDLG   252
#define PROP_LG_CYDLG   218

//include icons
//IDI_CHIP ICON "chip.ico"
//IDI_NESAPU ICON "nes-apu.ico"
//IDI_SEGAPSG ICON "sega-psg.ico"

#include "nes-apu.rc"
#include "sega-psg.rc"

//EOF
