//nes-apu.rc

#define IDD_NESAPU 2000
#define IDC_CHK_ENABLE 2001
#define IDC_GRP_CHANNELS 2002
#define IDC_CHK_PULSE1 2003
#define IDC_CHK_PULSE2 2004
#define IDC_CHK_TRIANGLE 2005
#define IDC_CHK_NOISE 2006
#define IDC_CHK_DPCM 2007
#define IDC_CBX_CORE_NESAPU 2008

LANGUAGE 9, 1

IDD_NESAPU DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "NES APU"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN

END

//EOF
