//sega-psg.rc

#define IDD_SEGAPSG 1100
#define IDC_CHK_ENABLE 1101
#define IDC_GRP_CHANNELS 1102
#define IDC_CHK_CH1 1103
#define IDC_CHK_CH2 1104
#define IDC_CHK_CH3 1105
#define IDC_CHK_CH4 1106
#define IDC_CBX_CORE 1107

LANGUAGE 9, 1

IDD_SEGAPSG DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "Sega PSG"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN
    AUTOCHECKBOX "Enable", IDC_CHK_ENABLE, 3, 3, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
    GROUPBOX "Channels", IDC_GRP_CHANNELS, 3, 15, 130, 75
    AUTOCHECKBOX "Channel 1", IDC_CHK_CH1, 6, 27, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Channel 2", IDC_CHK_CH2, 6, 39, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX "Channel 3", IDC_CHK_CH3, 6, 51, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    AUTOCHECKBOX "Channel 4", IDC_CHK_CH4, 6, 63, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP
END

//EOF
