//sega-psg.rc

#define IDD_SEGAPSG                 1000
#define IDC_GRP_SEGAPSG_CHANNELS    1001
#define IDC_CHK_SEGAPSG_CH1         1002
#define IDC_CHK_SEGAPSG_CH2         1003
#define IDC_CHK_SEGAPSG_CH3         1004
#define IDC_CHK_SEGAPSG_CH4         1005
#define IDC_CHK_SEGAPSG_ENABLE      1006

IDD_SEGAPSG DIALOGEX 10, 10, PROP_SM_CXDLG, PROP_SM_CYDLG
CAPTION "Sega PSG"
FONT 10, "Tahoma", 400, 0, 0
LANGUAGE 9, 1
STYLE WS_CAPTION | WS_OVERLAPPED | WS_SYSMENU | WS_TILED | WS_VISIBLE
EXSTYLE 0x00010080
BEGIN
    AUTOCHECKBOX "Enable", IDC_CHK_SEGAPSG_ENABLE, 3, 3, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
    GROUPBOX "Channels", IDC_GRP_SEGAPSG_CHANNELS, 3, 15, 130, 75
    AUTOCHECKBOX "Channel 1", IDC_CHK_SEGAPSG_CH1, 6, 27, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP
    AUTOCHECKBOX "Channel 2", IDC_CHK_SEGAPSG_CH2, 6, 39, 120, 12
    AUTOCHECKBOX "Channel 3", IDC_CHK_SEGAPSG_CH3, 6, 51, 120, 12
    AUTOCHECKBOX "Channel 4", IDC_CHK_SEGAPSG_CH4, 6, 63, 120, 12
END

//EOF
